@font-face {
  font-family: JetBrainsMono;
  src: url(/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

:root {
  --background-color: #18171F;
  --card-bg-color: #24232C;
  --text-color: #E6E5EA;
  --heading-color: #817D92;
  --accent-color: #A4FFAF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: var(--background-color);
  font-family: JetBrainsMono;
}

h1, h2 {
  font-size: 16px;
  color: var(--heading-color);
}

h2 {
  text-transform: uppercase;
}

input, p, label {
  color: var(--text-color);
  accent-color: var(--accent-color);
  font-size: 16px;
}

.main__header {
  margin-bottom: 1rem;
}

.generated-password-field {
  margin-bottom: 1rem;
  background-color: var(--card-bg-color);
  width: 343px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  button {
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    img {
      width: 17.5px;
      height: 20px;      
    }
  }
}

.field__choices {
  width: 343px;
  padding: 1rem;
  background-color: var(--card-bg-color);
}

.character__length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.password__strength {
  margin: 0.8rem 0 1rem 0;
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    text-transform: uppercase;
  }
}

.submit__button button {
  background-color: var(--accent-color);
  color: var(--background-color);
  width: 100%;
  padding: 1.16rem;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--accent-color);

  &:hover {
    background-color: var(--card-bg-color);
    color: var(--accent-color);
  }

  img {
    padding-left: 1rem;
  }

}


.slider__container {
  margin-bottom: 2rem;

  input[type = 'range'] {
    width: 100%;
  }
}

.checkbox {
  display: inline-flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.custom-checkbox {
  display: none;
}

.checkbox__box {
  width: 22px;
  height: 22px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    opacity: 0;
    transform: translate(3%, 5%);
  }
}

.custom-checkbox:checked + .checkbox__box {
  background: var(--accent-color);
  border: none;
  transition: all 0.5s ease-in;

  img {
    opacity: 1;
  }
}

/* Utilities */
.green-color {
  color: var(--accent-color);
}

.font-size {
  font-size: 24px;
}

.inactive {
  color: var(--heading-color);
}

@media (width >= 762px) {
  .field__choices {
    min-width: 540px;
    padding: 2rem;
  }

  p {
    font-size: 18px;
  }

  .xl {
    font-size: 24px;
  }

  .xxl {
    font-size: 32px;
  }
  
  .generated-password-field {
    min-width: 540px;
    padding: 1rem 2rem;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
  }

  .password__strength {
    padding: 20px 32px;
  }
}